html {
  background-color: black;
}


#bgeffect{
    width:100vw;
    height:100vh;
    background-image:url('resources/okgo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(50px);
    opacity: 0.65;
    margin: -10px;
}

#tester {
  position: absolute;
  color: white;
  font-size: 20px;
  top: 50%;
  left: 45%;
  font-family: sans-serif;
}

/*#album1 img {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 27%;
  left: 43%;
  box-shadow: 5px 5px 5px black;
}*/

h1 {
  font-family: sans-serif;
}

#album2 img {
  /*display: none; erase this line to show artwork*/
  position: absolute;
  width: 100px;
  height: 100px;
  top: 32%;
  left: 33%;
  box-shadow: 5px 5px 5px black;
}

#album3 img {
  /*display: none; erase this line to show artwork*/
  position: absolute;
  width: 100px;
  height: 100px;
  top: 32%;
  left: 57%;
  box-shadow: 3px 3px 3px #2B2B2B;
}

@media screen and (min-width: 401px) {
  #album1 img {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 27%;
    left: 43%;
    box-shadow: 3px 3px 3px #2B2B2B;
  }
}

@media screen and (max-width: 400px) {
  #album1 img {
    position: absolute;
    width: 100%;
    top: 1%;
    height: relative;
    box-shadow: 3px 3px 3px #2B2B2B;
  }
}
